*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Press Start 2P', cursive;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.sky {
  height: 90%;
  background-color: #548CFF;
  position: relative;
}

.ground {
  height: 10%;
  position: relative;
  background-color: #C84C0C;
  background-image: url(groundblock.png);

}

.scorebar {
  position: absolute;
  height: 120px;
  width: 100%;

  font-family: 'Press Start 2P', cursive;
  font-size: 180%;
  color: white;

  padding-left: 50px;
  padding-right: 50px;
  line-height: 0.2;
}

.cloud {
  position: absolute;
  height: 100px;

}

.cloud:nth-child(2) {
  top: 120px;
  animation: wind 80s both infinite linear reverse;
}

.cloud:nth-child(3) {
  top: 280px;
  animation: wind 50s both infinite linear reverse;
}

.cloud:nth-child(4) {
  top: 450px;
  animation: wind 30s both infinite linear reverse;
}

.skyblocks {
  position: absolute;
  top: -250px;
}

.brick {
  position: fixed;
  margin: -2px;
  height:70px;
}

.brick:nth-child(1) {
  left: 600px;
}

.brick:nth-child(2) {
  left: 670px;
}

.brick:nth-child(3) {
  left: 740px;
}

.brick:nth-child(4) {
  left: 810px;
}




.bush {
  position: absolute;
  top: -70px;
  height:70px;
}

.bush:nth-child(1) {
  left: 150px;
}

.bush:nth-child(2) {
  left: 900px;
  ;
}

.bush:nth-child(3) {
  left: 1500px;
  ;
}

.mario {
  position: absolute;
  width: 70px;
  height: 70px;
  background: url(result.png) left center;
  top: -70px;
  left: 0px;

  animation: play .8s steps(4)  infinite,
    run 7s infinite linear;
}

@keyframes play {
  100% {
    background-position: -284px;
  }
}

@keyframes run {
  from {
    left: -200px;
  }

  to {
    left: 100%;
  }
}

@keyframes wind {
  from {
    left: -300px;
  }

  to {
    left: 100%;
  }
}